@mixin absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center-x {
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center-x-y {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
