{% macro active(activePage='home') %}

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container-fluid">
		<a class="navbar-brand" href="/Templates">Fluid<span class="fluid-color">Converter</span></a>
		<a class="pull-right" href="https://github.com/jeremieroulin/fluid-converter/fork" target="_blank"
		   data-icon="octicon-repo-forked" data-style="mega" data-count-href="/jeremieroulin/fluid-converter/network"
		   data-count-api="/repos/jeremieroulin/fluid-converter#forks_count" data-count-aria-label="# forks on GitHub"
		   aria-label="Fork jeremieroulin/fluid-converter on GitHub">
			<i class="fa fa-2x fa-code-fork" aria-hidden="true"></i>
		</a>
	</div>
</nav>
{% endmacro %}
