<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title>TYPO3 Fluid Converter tool</title>
	<meta name="description" content="This tool can convert fluid tags to its inline notation.">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@roul1j">
	<meta name="twitter:title" content="TYPO3 Fluid Converter tool">
	<meta name="twitter:description" content="This tool can convert fluid tags to its inline notation.">
	<meta name="twitter:creator" content="@roul1j">
	<meta name="twitter:image" content="http://www.fluid-converter.com/Images/image.jpg">

	<meta property="og:title" content="TYPO3 Fluid Converter tool">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://www.fluid-converter.com/">
	<meta property="og:image" content="http://www.fluid-converter.com/Images/image.jpg">
	<meta property="og:description" content="This tool can convert fluid tags to its inline notation.">
	<meta property="og:site_name" content="FluidConverter">

	<link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon; charset=binary">
	<link rel="stylesheet" href="Css/Styles.min.css">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-86797098-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>

{% block content %} {% endblock %}

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="JavaScript/App.js"></script>

</body>
</html>
