<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title>TYPO3 Fluid Converter tool</title>

	<link rel="stylesheet" href="../Vendors/highlight/styles/arta.css">
	<link rel="stylesheet" href="../Css/Styles.min.css">
</head>
<body>

{% block content %} {% endblock %}

<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="../Vendors/jquery/dist/jquery.min.js"></script>
<script src="../JavaScript/App.js"></script>
</body>
</html>
