@import 'Partials/variables';
@import 'Partials/mixins';
@import 'Partials/functions';
@import '../Vendors/bootstrap/scss/bootstrap';
@import '../Vendors/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,400italic,100);

body {
  padding-top: 3.2rem;
}

pre,
.hljs {
  @include media-breakpoint-up(sm) {
    display: inline;
  }
}

#conversion-result .hljs {
  background: rgba(55, 58, 60, 1);
}

.hljs {
  background: rgba(55, 58, 60, .85);
  margin-right: 6px;
  padding-top: 8px;

  @include media-breakpoint-up(sm) {
    margin-top: 10px;
  }
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link,
.hljs-name {
  color: #428bca;
}

.conversion-history {
  height: 350px;
  overflow-y: auto;
}

.github-link {
  margin-top: 5px;
}

.site-header {
  background: url('../Images/header-bg.jpg') no-repeat 0 -520px;
  background-size: cover;
  color: #fff;
  position: relative;

  .overlay {
    background: rgba(0, 0, 0, .35);
    height: 100%;
    padding: 40px 0 60px;
    top: 0;
    width: 100%;
  }
}

.spacer {
  padding: 3rem 0;
}

.conversion {
  margin-bottom: 25px;
}

.conversion-form {
  .form-group {
    width: 100%;
  }
}

.form-inline {
  position: relative;

  .fluid-node-to-convert {
    font-size: 15px;
    padding-left: 10px;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 83%;
    }
  }

  .fluid-node-error {
    bottom: -45px;
    color: #ff392d;
    position: absolute;
  }

  .form-text {
    bottom: -50px;
    position: absolute;
  }

  .btn {
    margin-top: 10px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      width: 16%;
    }
  }
}

.fluid-color {
  color: $brand-primary;
}
