@import 'Partials/variables';
@import 'Partials/mixins';
@import 'Partials/functions';
@import '../Vendors/bootstrap/scss/bootstrap';
@import '../Vendors/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,400italic,100);

body {
  padding-top: 3.2rem;
}

pre {
  display: inline;
}

#conversion-result .hljs {
  background: rgba(55, 58, 60, 1);
}

.hljs {
  background: rgba(55, 58, 60, .85);
  display: inline;
  margin-right: 6px;
  padding-top: 8px;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link {
  color: #64a;
}

.conversion-history {
  height: 350px;
  overflow-y: auto;
}

.site-header {
  background: url('../Images/header-bg.jpg');
  background-position: 0 -680px;
  color: #fff;
  //height: 400px;
  position: relative;

  .overlay {
    background: rgba(0, 0, 0, .35);
    height: 100%;
    padding: 40px 0;
    top: 0;
    width: 100%;
  }
}

.fluid-node-error {
  color: #ff392d;
}

.spacer {
  padding: 3rem 0;
}

.conversion {
  margin-bottom: 25px;
}

.conversion-form {
  .form-group {
    width: 100%;
  }
}

.form-inline {
  .fluid-node-to-convert {
    font-size: 15px;
    padding-left: 10px;
    width: 83%;
  }

  .btn {
    width: 16%;
  }
}

.fluid-color {
  color: $brand-primary;
}
